@font-face {
    font-family: 'urban_brushregular';
    src: url('fonts/urban_brush-webfont.woff2') format('woff2'),
         url('fonts/urban_brush-webfont.woff') format('woff'),
         url('fonts/urban_brush-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html, body {
    background: #000;
    color: #fff;
    font-family: 'urban_brushregular';
}

.viewport {
    align-items: center;
    display: flex;
    flex-flow: column;
    height: 100vh;
    justify-content: center;
    width: 100vw;
}

.title {
    font-size: 12vw;
    text-transform: uppercase;
    font-weight: 400;
}
.countdown {
    font-size: 16vw;
    font-weight: 400;
}

.monospace .char {
    display: inline-block;
    width: 6vw;
    text-align: center;
}
